body
{
    color: rgb(2, 20, 16);
    text-align: center;
    font-family: 'courier';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

#cabecera
{
    background-color: brown;
    color:azure;
    box-shadow: 29px 17px 5px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    margin: 0;
    padding: o.5em;
}

#cabecera #tagline
{
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid antiquewhite;
    background-color: bisque;

}
#container h1
{
    font-size: 20px;
}